@media screen and (max-width: 559px) {
  /* Patricia */
  /* Vlad */
  .best-offer {
    width: 100%;
    height: 100%;
    margin-bottom: 500px;
  }

  .best-offer-box-1-1 {
    width: 100%;
    height: 100%;
  }
  .best-offer-1-1-text-1 {
    width: 100%;
    text-align: center;
  }
  .best-offer-1-1-text-2 {
    width: 100%;
    text-align: center;
  }

  .best-offer-box-1-2{
    width: 100%;

    height: 1600px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;


}
  .best-offer-box-1-2-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best-offer-box-1-2-2 {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best-offer-box-1-2-3 {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* Yulia */

  /* Sasha */
  .items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .items-container .item {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    background: #fff;
    box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }

  .footer {
    width: 100%;
    background: #0d0402;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .footer-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'banner' 'categories' 'information' 'follow-us';
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
