@media screen and (max-width: 559px) {
  /* Patricia */
  /* Vlad */
  .best-offer {
    width: 100%;
    height: 100%;
    margin-bottom: 500px;
  }

  .best-offer-box-1-1 {
    width: 100%;
    height: 100%;
  }
  .best-offer-1-1-text-1 {
    width: 100%;
    text-align: center;
  }
  .best-offer-1-1-text-2 {
    width: 100%;
    text-align: center;
  }

  .best-offer-box-1-2{
    width: 100%;

    height: 1600px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;


}
  .best-offer-box-1-2-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best-offer-box-1-2-2 {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best-offer-box-1-2-3 {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* Yulia */
body {
  font-size: 16px;
}
  .main-gallery{
    width: 100%;
    height: auto;
  }
  .main-gallery--description {
    width: 100%;
    margin-bottom: 20px;
    line-height: normal;
  }
  .main-gallery--description>p {
    display: none;
  }
  .main-gallery--block-photos {
    /*width: 90%;*/
    /*height: 90%;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    /*margin: 0 auto;*/
  }
  .main-gallery--block-photos>img {
    width: 40vw;
    height: 100%;
    /*width: 45vw;*/
    object-fit: cover;
    object-position: center;
    /*margin: 0 auto;*/
  }

  /* Sasha */
  .update-news {
    height: auto;
    width: 100%;
  }


  .items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .items-container .item {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    background: #fff;
    box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }

  .footer {
    width: 100%;
    background: #0d0402;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
  }

  .footer-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'banner' 'categories' 'information' 'follow-us';
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
